body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans JP', sans-serif;
}

.postdisplay {
  font-size: 30px;
}

.allfont {
  font-family: 'Noto Sans JP', sans-serif;
}

.btn {
  font-family: 'Noto Sans JP', sans-serif;

}