body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Heebo', sans-serif;
}

.postdisplay {
  font-size: 30px;
}

.allfont {
  font-family: 'Heebo', sans-serif;
}

.btn {
  font-family: 'Heebo', sans-serif;
}

.background {
  background-color: white;
  /* background-image: url("kirsten-drew-fQ2n2lRV0dw-unsplash.jpg"); */
}

/* .hero {
 width: 100vw;
 height: 100vh;
} */

.cardback {
  background-color: white;
}

.navbar {
  background-color: #032D0B; 
  opacity: 100%;
  color: white;
}

.logo {
  font-family: 'Philosopher', sans-serif;
}